<%- include('parts/html-head') %>
    <%- include('parts/navbar') %>
        <div class="container">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Age</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- react寫法 -->
                    <!-- <%- sales.map(i=>{
                        return `<tr>
                            <td>${i.id}</td>
                            <td>${i.name}</td>
                            <td>${i.age}</td>
                        </tr>`;
                        }).join('')
                        %> -->

                    <!-- let arr = [10, 20, 30]
                    for(let value of arr){} -->
                    <% for(let item of sales){ %>
                        <tr>
                            <td>
                                <%= item.id %>
                            </td>
                            <td>
                                <%= item.name %>
                            </td>
                            <td>
                                <%= item.age %>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
        <%- include('parts/scripts') %>
            <%- include('parts/html-foot') %>